{% extends "appbuilder/base.html" %}
{% block head_css %}
    {{ super() }}
    <link rel="stylesheet" href="{{url_for('static',filename='css/distribution.css')}}"></link>
{% endblock %}

{% block content %}
	<h1>{{title}}</h1>

	<form action="/myview/show{{analytype}}/{{lyear}}/{{tyear}}">

        <div class="form-group">
        	{{form.type_of_building.label}}

        	{{ form.type_of_building(class_="js-example-basic-single") }}

        	{{ form.submit(class_="btn btn-primary") }}

            {% if (analytype=='County' or analytype=='ZipCode')%}

            <button class="btn btn-info" type="button" id="heatmapBtn" name="heatmapBtn">Exp Heat Map</button>

                {% if (tobSelectValue!='pr_lr')%}

                <button class="btn btn-info" type="button" id="aalheatmapBtn" name="heatmapBtn">AAL Heat Map</button>

                <button class="btn btn-info" type="button" id="lcostsheatmapBtn" name="heatmapBtn">Loss costs Heat Map</button>

                {% endif %}

            {% endif %}

        </div>


		
	</form>

    {% for table in tables %}
    	<div>{{table | safe}}</div>
	{% endfor %}
	<div id="exptocsv">
      <form action="/myview/export{{analytype}}/{{tobSelectValue}}/{{lyear}}/{{tyear}}/{{lsim}}/{{tsim}}" method="GET">
      	<input type='submit' value='Export Details' />
      </form>
    </div>
{% endblock %}
{% block tail_js %}
    {{ super() }}
    <script type="text/javascript">
        $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
        tob='{{tobSelectValue}}'
        thisyear = '{{tyear}}';
        lastyear = '{{lyear}}';
        maptype = '{{analytype}}';
    </script>
    <script src="{{url_for('static',filename='js/distribution.js')}}"></script>
{% endblock %}

