{% extends "appbuilder/base.html" %}
{% block content %}
    <h1>{{title}}</h1>
    {% for table in tables %}
    	<div>{{table | safe}}</div>
	{% endfor %}
	<div>
		<div id="exptocsv" style="float: left">
	      <form action="/myview/{{analytype}}/{{lyear}}/{{tyear}}/{{lsim}}/{{tsim}}" method="GET">
	      	<input type='submit' value='Export Details' />
	      </form>
	    </div>
	    <div id="ratemarking" style="float: left;margin-left: 20px">
	      <form action="/myview/{{ratemarking}}/{{tyear}}/{{tsim}}" method="GET">
	      	<input type='submit' value='Export ratemarking' />
	      </form>
	    </div>
	</div>
</div>
{% endblock %}
