<!doctype html>
<html lang="" class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>County Heat Chart</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <div>{{countyData}}</div>
<!--[if lt IE 8]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a
        href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->
<div id="countyHeatChart" style="width:800px;height:1000px" data-county='{{countyData|safe}}'></div>
<script src="/static/assets/dist/countyHeatChart.bundle.js"></script>
</body>
</html>